[2016-12-14 17:50] kemar opened #4 "Consider support for interpolation with HTML content"
As Radu suggests:

[code]

In templates use a prop:

[code]

[2017-01-15 07:32] mlankenau opened #6 "Invalid translation when in v-if"
I get weird results whenever I have translations in a tree where the parent is switched with v-if. It renders text, but not the right one. Looks like it renders the text directly before.

[2017-01-15 11:05] kemar commented on #6
Can you give me an example of your code and your Vue.js version number so I can reproduce the bug?

[2017-01-16 16:31] mlankenau commented on #6
I tried hard to create a simple example that reproduces the issue but I failed. But it is like:
[code]

In that case both headlines are the same. If I change it to v-show, then it works. And I found, that when I set both arrays to null in data, then it works as well (before they were empty arrays).

[2017-01-16 20:51] kemar commented on #6
It will be hard to debug without a proper example.

Anyway, I'll try to reproduce this behaviour as soon as I've got some free time.

[2017-02-21 18:13] hworld opened #9 "Translations in attributes"
Hey there! I didn't see in the documentation an answer to this. I'm working on switching away from angular and therefore angular-gettext. With that lib you can translate attributes of html elements like so: `<div title="{{ 'Translate this' | translate }}">`.

Is the solution for vue-gettext to instead call into the vm methods and use a computed property instead or is a similar filter possible? I k

[2017-02-21 18:38] kemar commented on #9
Nope you can't do this in that way because [interpolation in attributes has been deprecated in Vue.js 2](https://vuejs.org/v2/guide/migration.html#Interpolation-within-Attributes-removed).

However, you can use an inline expression or a computed property:

[code]

[2017-02-21 19:04] kemar commented on #6
I'm closing this issue now since I cannot reproduce your problem.

Please feel free to reopen the issue if you can provide a proper failing example :)

[2017-02-21 19:35] hworld commented on #9
Ah, I didn't even think of the fact that I can use "$gettext" within the template like that. That's perfect. Thanks so much!

[2017-02-22 15:23] Hagith opened #10 "Proposal: Node CLI tool as an alternative option to Makefile"
Hello,

For our current project I created simple Node CLI script, which is integrated into build process (npm scripts).
I published it as gist here: https://gist.github.com/Hagith/8c4c4db8ebc4ccffa6d9f2bf061b53ff

As NPM scripts are very popular these days, it could be good option to have a  standard node.js CLI tool :)
For now it's very specific to our environment, to show overall idea.
I can imp

[2017-02-23 08:09] kemar commented on #10
Hi,

Yes it could be very helpful for people who are not familiar with Makefile. So yes, I'm interested :)

Btw it would be great if you could add some documentation in your final script so that people unfamiliar with Node CLI can understand it quickly!

[2017-02-27 05:51] hworld opened #11 "Ability to turn off warnings"
Would be great to have a way to turn off warnings of untranslated string. Basically this line:

[code]

It is helpful for development, although it can get a bit noisy when adding new code without translations yet. Also, in production it'd be nice not to show as translations on my site are done by the community and many aren't translated yet.

[2017-02-27 10:58] kemar commented on #11
Yes, I understand this can be annoying.

I think I'll add a new `silent` config option which will have the same value as [`Vue.config.silent`](https://vuejs.org/v2/api/#silent) by default.

[2017-02-27 12:07] #11 closed

[2017-02-27 12:14] kemar commented on #11
It's available in [v2.0.8](https://github.com/Polyconseil/vue-gettext/releases/tag/v2.0.8).

[2017-03-06 20:31] hworld opened #12 "Lazy loading translations"
For big apps loading all the translations in before bootstrapping the app can be quite a bit of waiting.

I think I came up with a solution that may work. My main goals were:
- You should be able to insert translations into the "library" of translations at any time.
- The page should react without having to load the page all over again.
- The reactivity should be light and only update components t

[2017-03-07 15:30] kemar commented on #12
Just for reference, how big is your JSON `translations` file? How long does it take to fetch it over the network?

Ok, I can see how your implementation works. You have to fetch a splitted part of translations in a component's created hook. But now you have to display a loading state while the data is being fetched over the network. Still, it may be quicker than loading one big `translations` file

[2017-03-07 15:30] #12 closed

[2017-03-07 17:25] hworld commented on #12
Ah, too bad. I don't have much time either. Hopefully someone can come along and see this and work on it more. Here is a translation po file for the site. Note that only about half of the site is annotated so this would continue to grow: https://github.com/gamejolt/translations/blob/master/en_US/main.po

The main JSON file for the app is 10kb gzipped. I then split out another one for the "account"

[2017-03-15 23:05] trainiac opened #13 "Improvement: Better ordering of translation references in .po files"
When generating .po files the translation references order makes a translation flow difficult

This is an example of translation reference output order:
[code]

I would expect, translations would be grouped by file (or path) and within the file (or path) they would be in order of line number.

Desired output

[code]

vue-gettext 2.0.8
Mac Os Sierra 10.12.3
gettext 0.19.8.1
easygettext 1.2.2

[2017-03-15 23:12] trainiac opened #14 "Events don't get bound to translation component"
Passing bound properties and unbound properties to the `translate` component seem to make there way to the underlying element that gets rendered. However event handlers do not. In the example below the "@click" is not attached to the button at runtime.

Desired API
[code]

Perhaps making translate directives instead of components would solve problems like these? This is probably huge scope creep b

[2017-03-15 23:26] trainiac opened #15 "Newlines don't work in translation tags"
The following gets picked up in translation capturing and included in the translations.json but at runtime will not get translated.

[code]

vue-gettext 2.0.8
Mac Os Sierra 10.12.3
gettext 0.19.8.1
easygettext 1.2.2

[2017-03-16 01:03] trainiac commented on #9
The computed property example works but the inline expression is not working for me. The make file command is not capturing it as a translation.

vue-gettext 2.0.8
Mac Os Sierra 10.12.3
gettext 0.19.8.1

[2017-03-16 08:31] vperron commented on #13
That should probably be up to the choice of the user; in my projects I usually don't want to reorder the whole PO file whenever I move source file around as it makes i difficult to follow what actually changed.

But my guess is it could be a simple option in th Makefile ?

[2017-03-16 08:34] trainiac commented on #13
That's a good point.  Well if there is any order now what is it? There should be some predictable order

[2017-03-16 08:39] vperron commented on #13
I guess it's alphabetic, following the msgid (instead of source file(s)) as you suggest; the order is then kept as stable as possible upon new insertions, still alphabetic.

Actually what you suggest is complicated because if the string "Hello World" is present in two different source files gettext will still aggregate those in order to translate it only once (unless the msgctxt is difefrent, of c

[2017-03-16 08:46] kemar commented on #13
@trainiac you can customize your Makefile target by adding `--sort-by-file` and `--sort-output` arguments. Just have a look at the [`msgattrib` documentation](https://www.gnu.org/software/gettext/manual/html_node/msgattrib-Invocation.html#msgattrib-Invocation).

Also note that `--sort-output` is not recommended:

As mentioned by @vperron the order depends on personal taste. This choice is left to

[2017-03-16 08:46] #13 closed

[2017-03-16 09:21] kemar commented on #14
Yes, the *Works for now API* that you describe is currently the way to go.

I tried to build a directive during the development of the plugin but could'nt end up with a working solution.

But if you know how to implement such a directive, please feel free to submit a pull request!

[2017-03-16 09:21] #14 closed

[2017-03-16 21:22] trainiac commented on #9
@kemar Do you have an example of the inline expression working? If so I'll dig deeper into what I might be doing wrong.

[2017-03-17 00:35] trainiac commented on #13
@kemar Awesome.  I figured some of these issues I was having were options with underlying libraries.  You've been a great help.  --sort-by-file is sufficient for my need.

@vperron FYI, having tested this when sorting by files and there are two different files that use the same translation, the file that comes second is grouped together with the first file the translation instance was found. So it

[2017-03-17 08:21] kemar commented on #9
@trainiac yes you're right: the Makefile target does not extract translations for **inline expressions**.

I'll need to have a depper look at `gettext-extract` or `xgettext` to see what would be the best way to fix this.

Meanwhile you can use a **computed property** to circumvent the problem.

[2017-03-18 23:45] trainiac commented on #14
Thanks @kemar. I'm still learning vue myself but I may try to build this  as a directive if I have time in the future.

However for now, I figured out a solution to this problem. In general in vue, when binding a native event to a custom component such as the `translate` component you have to add the `.native` modifier. So for people trying to bind click events or other native events to a tag do t

[2017-03-20 20:29] #15 closed

[2017-03-21 19:14] hworld commented on #9
The only thing I could think of to solve this problem was to compile all templates using the vue template compiler and then crawling over that build folder to extract the strings. =\

[2017-03-21 19:20] hworld opened #16 "Plurals don't show if no translation found."
[code]

If you don't have the translation yet for the string in the library, then it will always fall back to the singular version. This makes testing in dev a bit tricky. Right now in the getTranslation function it returns the msgid if it can't find the string. I think it could be possible to check the value of n, use that with getTranslationIndex, and return from the `translate-plural` param whe

[2017-03-21 19:23] hworld commented on #4
Just pasting this here in case it proves useful. This is how I handled it with my codebase:
https://github.com/gamejolt/vue-gettext/commit/ca1426192a91d47b8a8367423436df896aadfe1e

I use vnodes for all templates so it became a bit tricky to gather the HTML. Basically I just crawl over the vnodes and build out an HTML string. I skip any attributes and stuff for now, so this only allows really simpl

[2017-03-21 19:33] hworld opened #17 "Proposal: Ability to set params that can be used within the translation interpolation."
I like to set up translation strings that are agnostic to how my app state is structured. This way if I change variable names within my app, it won't break my translation strings.

Here's an example of what I would like to do:

[code]

You can see above that it also allows you to really easily modify the variables before passing in to the translations. I just use a simple function above that conve

[2017-03-22 08:07] kemar commented on #17
@hworld yes, this looks like a cool enhancement.

If I have time I may work on it.

[2017-03-22 08:17] kemar commented on #16
@hworld sorry I don't understand your problem here. Do you have a full example that I can reproduce?

[2017-03-22 11:21] kemar commented on #9
I have no easy solution for this problem yet.

[`gettext-extract`](https://github.com/Polyconseil/easygettext#gettext-extract) (as it is currently) will only works with custom tags or attributes.

And `xgettext` will not parse the non JavaScript part of single-file components with a `.vue` extension.

The most likely "good enough" solution would be to implement [something like this](https://siongu

[2017-03-22 23:28] hworld commented on #16
@kemar Sure thing. Here's a fiddle: https://jsfiddle.net/Ld9rh997/

You can see it shows the same translation string for both 1 and 10 count. It's because it's earlying out and returning msgid directly instead of pulling in the translate-plural message ID.

[2017-03-22 23:30] hworld commented on #16
Had the wrong fiddle before. Just updated it.

[2017-03-23 11:12] kemar commented on #16
@hworld ok thanx, it's crystal clear now!

I could hack around and return the `translate-plural` param but that would be really hacky.

Here is why: some languages have [multiple plural forms](http://docs.translatehouse.org/projects/localization-guide/en/latest/l10n/pluralforms.html).

E.g.: Arabic has 6 plural forms which could be in the translation file but not in the component's HTML. It's impo

[2017-03-23 19:16] hworld commented on #16
@kemar I'm aware of the multiple plural forms issue, however this isn't how gettext deals with it. The idea of a gettext enabled program is that it has defaults that it shows if untranslated. This allows projects to still function and be translated by volunteers as well as can be expected. It's very common in the open source world to have programs that aren't fully translated in all languages supp

[2017-03-23 19:28] kemar commented on #16
@hworld ok that makes sense.

I'll read this part of the documentation and I'll make a decision based on it.

[2017-03-23 20:52] #16 closed

[2017-03-23 21:03] kemar commented on #16
@hworld thanx for your detailed feedback.

Since it totally makes sense I just released v2.0.10 which adds this enhancement.

[2017-03-23 21:22] hworld commented on #16
Whoa, that was really fast! Thanks a lot!

[2017-03-31 04:12] trainiac opened #18 "Text in translation tags doesnt work with hot module reloading."
When using hot module reloading with webpack, the text doesn't update when making changes.  This is because the `msgid` property in the `translate` component is decided when the component `created` event.

I tried moving the logic in the `created` function into the `translation` computed property but that doesn't update because `$options._renderChildren` (which we should consider changing to `$slo

[2017-03-31 07:28] kemar commented on #18
Yup that's true. Hot module reloading won't update the translation tags content.

However, for me in any case, it's never been an issue since such a change most likely implies a change in the translations files so you have to compile translations again, relaunch the dev server etc.

Also I'm curious about how you can use `this.$slots.default` since no slot is ever used in the component template? I

[2017-03-31 07:40] trainiac commented on #18
Hmm maybe it's because I'm using a webpack vue-loader build process.  I assumed by default every custom component that gets passed content implicitly has $slot.default, but perhaps it's due to my build system.

[2017-03-31 07:47] trainiac commented on #18
With the changes I made above, I have access to this.$slots.default.

There are a few examples of rendering components using $slots where it's not defined in templates. https://vuejs.org/v2/guide/render-function.html

[2017-03-31 07:51] trainiac commented on #18
Have you tried only accessing $slots in the render function? Maybe in created $slots has not be created yet. But it is strange that it worked for me.

[2017-05-03 19:12] kemar opened #21 "Verify plural forms"
Following #20 check and compare [`plurals.js`](https://github.com/Polyconseil/vue-gettext/blob/3e985b3f94fcecd7ca898a9c5f5a639287e22cf5/src/plurals.js) with plural forms of `gettext` source: http://git.savannah.gnu.org/cgit/gettext.git/tree/gettext-tools/src/plural-table.c

## `gettext` code

`(n%100==1 ? 0 : n%100==2 ? 1 : n%100==3 || n%100==4 ? 2 : 3)`

- n = 1 => `0`
- n = 2 => `1`
- n = 4 => `

[2017-05-15 08:19] kennyki commented on #4
Not sure if it will fulfill your requirements, but I have created a custom directive (instead of using the component) to support HTML content. You can check it out at https://github.com/Polyconseil/vue-gettext/pull/22

[2017-05-19 09:38] lattam opened #23 "Evaluation of %{expressions} does not work inside nested components"
Hi, we have run out in to a problem with interpolation of variables inside nested components:

[code]

[code]

the function [evalInContext](https://github.com/Polyconseil/vue-gettext/blob/master/dist/vue-gettext.js#L444) receives wrong context (context of **md-layout** in this example) instead of context of the parent component.

A little modification of the evalInContext function should solve thi

[2017-05-20 17:25] #23 closed

[2017-05-20 17:27] kwisatz commented on #23
Thank you @kemar

[2017-05-22 12:20] lattam opened #24 "Evaluation of nested objects in expressions does not work"
Hi, I have found one more issue connected with https://github.com/Polyconseil/vue-gettext/issues/23 when evaluating nested objects in nested components:

[code]

The result is:

`User: user.firstname`

(plus some warnings in console _Cannot evaluate expression: "user.firstname"_.)

Problem occurs when the function [evalInContext](https://github.com/Polyconseil/vue-gettext/blob/master/dist/vue-gett

[2017-05-22 13:51] lattam commented on #6
I have the same problem. Hope this snippet will help to reproduce it:
https://jsfiddle.net/lattam/gvx6s7vw/

[2017-05-22 20:08] kemar commented on #6
Note to self: try to reproduce this in a unit test

[2017-05-22 20:10] kemar commented on #4
This can now be done with a directive since [release 2.0.14](https://github.com/Polyconseil/vue-gettext/releases/tag/v2.0.14)

[2017-05-22 20:10] #4 closed

[2017-05-23 15:35] kemar commented on #24
Previous commit broke recursion. I'll fix it ASAP.

See: https://github.com/Polyconseil/vue-gettext/commit/29c5673aff7b7712d7ced61c003e6d3b55e68873#commitcomment-22242469

[2017-06-01 07:19] svewag opened #25 "access to the dictionary outside of a Vue instance"
Is there a possibility to access the dictionary outside of a Vue instance?
Something like

[2017-06-01 14:46] #24 closed

[2017-06-01 14:55] kemar commented on #25
Yes, `Vue.$translations` is exposed, you can do `Vue.$translations['en_GB']['key']`.

You can also [read the doc](https://github.com/Polyconseil/vue-gettext#configuration) before opening an issue :p

[2017-06-01 14:55] #25 closed

[2017-06-13 08:36] matthieubellon commented on #6
Hi,

Joining this ticket with also a problem concerning translation and v-if. On a radio form element I have those callout that are displayed whenever 'inviteuser.group' change.

If I remove v-translate (or <translate>) it works. If v-translate is present the callouts won't change even if the property change.

                    <transition name="slide-fade">
                        <div class="c

[2017-06-13 14:02] kemar commented on #6
Hi @matthieubellon,

Your problem is described in the README: *Caveat when using v-translate with interpolation* in the [HTML support](https://github.com/Polyconseil/vue-gettext#html-support) section.

You can fix your problem by adding an expression to the directive to provide a changing value:

[code]

Concerning the other problems, I'm still unable to reproduce a single bug with `v-if`. So I'm

[2017-06-13 14:04] matthieubellon commented on #6
Thank you @kemar :) (I've read that section but did not get it obviously)

[2017-06-14 08:56] laurentpayot commented on #12
@kemar  web apps (including PWA) can not be build for a specific language like native apps. Loading all the languages (in one of my apps 4 of them) as webpack assets bloats the built for no reason. Too bad. I have to stick to vue-i18n.

[2017-06-21 10:26] fyyyyy opened #26 "using array of translations for plural"
Hello
My Json sometimes has an array, the first is singular, the second is the plural translation.
How do i tell it to use plural ? Currently vue-gettext uses only the first array property.

[code]

[2017-06-21 11:50] kemar commented on #26
Mark your string as translatable using `translate-n` and `translate-plural` [as described in the documentation](https://github.com/Polyconseil/vue-gettext#plural).

[2017-06-21 11:50] #26 closed

[2017-06-21 13:32] fyyyyy commented on #26
Thanks but i believe this does not work, because the key is always singular.

[code]

I would have to change the json file to add a plural key.

[2017-06-21 14:11] kemar commented on #26
In the `translate-n="count"` expression, the `count` value will trigger either the singular or the plural string to be displayed, depending on its value and the current language. If your `count` value never change, you will never see the plural.

I can't help you more without a proper example. If you want more help please provide a full JSFiddle reproducing your issue.

[2017-06-21 14:45] fyyyyy commented on #26
I have tried different count values.

[code]

Since i provide the same key for plural and singular, the displayed translation in German is always "Werkstatt löschen", and never goes to "Werkstätten löschen"

[2017-06-21 14:47] rbarrois commented on #26
@fyyyyy Indeed, you need to provide different keys for singular and plural, e.g ``Delete Workshops``.

[2017-06-21 14:49] fyyyyy commented on #26
I am working with a 3rd party JSON which was generated from gettextCatalog.
Unfortunately i cannot change the JSON for this project.
I was wondering however why its using the first element in the array rather than displaying the contents of the entire array.

[2017-06-22 12:09] fyyyyy opened #27 "translate tag not properly updating"
I have an issue where the translate tag isnt updated when the transcluded content changes in a child component.

[code]

[2017-06-22 13:49] kemar commented on #27
I think that could be a `slot` misuse, see the [Vue.js documentation](https://vuejs.org/v2/guide/components.html#Content-Distribution-with-Slots).

Instead you should try something like this:

[code]

[2017-06-22 13:49] #27 closed

[2017-06-22 14:03] thujone25 opened #28 "makefile ignore strings"
Hi! I have a Vue component file which are ignored by Makefile. What do I make wrong?

![screenshot from 2017-06-22 17-01-53](https://user-images.githubusercontent.com/12563334/27437986-9944f714-576c-11e7-85a5-b6275058056d.png)

[2017-06-22 15:04] fyyyyy commented on #27
Hmm from what i read, i can place the slot element anywhere in my child component ?

[2017-06-22 16:11] fyyyyy commented on #27
`<translate>Delete {{selected.count}} Users</translate>`
This also will not update, i guess its a general issue that the content isnt watched, or is this intended ?

[2017-06-22 16:50] kemar commented on #27
This can't work because instead of the "Mustache" syntax (double curly braces), you have to use `%{` and `}` [as noted in the documentation](https://github.com/Polyconseil/vue-gettext#interpolation-support).

So instead of:

[code]

Use:

[code]

[2017-06-22 16:51] fyyyyy commented on #27
I tried this, it didnt update either

[2017-06-22 17:03] fyyyyy commented on #27
E.g. i have a feeling this should work in any child component. The variable is defined, and it renders the text but it does not translate it. Also when switching languages, it will always display the plain text.
        `<translate>%{ $slots.default[0].text }</translate>`

this however works
        `<translate>{{ $slots.default[0].text }}</translate>`

Versions
    "vue": "^2.3.3",
    "vue-gette

[2017-06-22 17:14] fyyyyy commented on #27
Ok i think i found the source of the first issue. If the translation is not found, the text **never** updates regardless of variable or tag content changes. Maybe this should throw a warning or something :)

[2017-06-22 18:14] fyyyyy commented on #27
oh crap, i had silent: true 🙈
Thanks for the help, I will send you some free miles for car2go 🚗

[2017-06-22 18:40] thujone25 commented on #28
I've found out that everything works good if I remove line №7 or №8
But I can't understand why.

[2017-06-22 18:43] kemar commented on #28
Which one is line 7? (it's difficult to help you when the only thing I have is a screenshot)

[2017-06-22 18:48] thujone25 commented on #28
`<template>
  <form class="auth-form"
        :class="{'auth-form--password-pages': (forgotPass || newPass)}">
    <h1 class="auth-form__title">
      <span>{{ headerText }}</span>
    </h1>
    <special-error class="auth-form__errors-block"></special-error>
    <p class="auth-form__forgot-pass-text" v-if="forgotPass">{{ text3 }}</p>
    <slot name="emailField"></slot>
    <slot name="passwordFiel

[2017-06-22 18:50] thujone25 commented on #28
[code]

[2017-06-22 19:27] kemar commented on #28
Ok, now I can reproduce and confirm your issue.

I think that `xgettext` fails during extraction ([here](https://github.com/Polyconseil/vue-gettext/blob/7aca4f25bef44a850b98e76f47fe84a128522d24/Makefile#L38-L43)). I don't know exactly why but I think this is related to the way `xgettext` is parsing your `.vue` file.

By default `xgettext` cannot extracts strings directly from `.vue` files. I used

[2017-06-23 08:55] thujone25 commented on #28
Hi. I've spotted that wrapping template markup with parentheses solves the problem.
Also it allows us to use Inline expression. from #9
Unfortunately I've not found a solution to use Inline expression for props (```<component :prop-name="$gettext('some text')"></component>```) yet.
I hope that this small trick with parentheses can help.
So instead of
[code]
we should wrap ```<template>```
[code]

[2017-06-28 07:50] kennyki commented on #6
Stumbled upon this issue with `v-if` on the `v-translate` directive in my project, however the same issue can be replicated with the `translate` directive.

In the component spec, try:

[code]

It will output:

[code]

## Root cause

It is because of:

as explained in the section of [special attribute 'key'](https://vuejs.org/v2/api/#key)

## Solution 1

Add `key` attribute manually to `translate`

[2017-06-28 08:11] kemar commented on #6
@kennyki excellent work, thanx!

A good way to generate a unique key is to use a `uuid`, something like that https://gist.github.com/jcxplorer/823878

[2017-06-28 08:18] kennyki opened #29 "Problem with translations not updating when using v-if"
Stumbled upon this issue with `v-if` on the `v-translate` directive in my project, however the same issue can be replicated with the `translate` directive.

In the component spec, try:

[code]

It will output:

[code]

## Root cause

It is because of:

as explained in the section of [special attribute 'key'](https://vuejs.org/v2/api/#key)

## Solution 1

Add `key` attribute manually to `translate`

[2017-06-28 08:19] kemar commented on #29
@kennyki excellent work, thanx!

A good way to generate a unique key is to use a `uuid`, something like that https://gist.github.com/jcxplorer/823878

[2017-06-28 08:19] kennyki commented on #6
I have created a separate issue about this matter with an immediate fix available. Please have a look at #29

[2017-06-28 08:19] #6 closed

[2017-06-28 08:20] kennyki commented on #6
Oops sorry @kemar I thought that's it's more organized to have a separate issue

[2017-06-28 08:21] kennyki commented on #29
Sure @kemar. Will work on it soon.

[2017-06-28 16:07] #29 closed

[2017-06-28 16:12] kemar commented on #6
Problems with `v-if` have been identified and fixed in [v2.0.16](https://github.com/Polyconseil/vue-gettext/releases/tag/v2.0.16).

[2017-06-28 16:17] kemar commented on #29
Thank you very much @kennyki :)

[2017-06-29 01:28] kennyki commented on #29
Glad that I could help :-)

[2017-07-11 13:28] narrowtux opened #32 "translation() crashes when a msgid exists with and without a context"
For some common words, like "Name", you'll have your msgid repeated a lot over the codebase. Sometimes it will be with a context, and sometimes without a context.

If a message exists with both a context and without a context, `easygettext compile` will create this entry in the translation JSON file:

[code]

Now when using `<translate>Name</translate>`, vue-gettext will crash with this error:

[c

[2017-07-11 16:27] #32 closed

[2017-07-11 16:35] kemar commented on #32
@narrowtux thanx for this bug report, it was easy to reproduce. I published a new release containing a fix for this problem : [v2.0.18](https://github.com/Polyconseil/vue-gettext/releases/tag/v2.0.18).

@vperron is the empty string as an object key a bug in`easygettext compile` or is it the intended behavior?

[2017-07-11 16:40] vperron commented on #32
As far as I remember it was an intended behaviour since there was no particular string that would fit the job perfectly. We could choose something like "__NOCONTEXT__" to be more explicit but with the issue of adding magic.
In the current behaviour, the void key means a void context.

[2017-07-11 16:44] kemar commented on #32
@vperron allright, understood. Thanx :)

[2017-07-11 16:53] narrowtux commented on #32
Thanks for the fast fix, very nice! :+1:

2017-07-11 18:44 GMT+02:00 Marc Hertzog <notifications@github.com>:

[2017-07-19 10:24] eldarc opened #34 "Unexpected character '`' error during build."
When I execute `npm run build` or `yarn build`, I get the following error (`npm run dev` works):

If I add `resolve('node_modules/vue-gettext')` to `webpack.base.conf.js`, like this:
[code]
the build will be successful. But when I run the app in the browser I get the following error: `Uncaught TypeError: Cannot read property 'installed' of undefined`

The same error will occur when `npm run dev` o

[2017-07-19 14:21] kemar commented on #34
Sorry, I cannot really help you on this one. Looks like a misconfiguration in your build.

It could come from UglifyJs. Also try to use the files available in `vue-gettext/dist` instead of those in `vue-gettext/src`.

[2017-07-19 14:21] #34 closed

[2017-07-23 02:11] hworld commented on #17
Just going to update this a bit. It's been working really well for me to do the method I said above. I just updated what I have to use the directive as well. Here's the full changes: https://github.com/gamejolt/vue-gettext/commit/ba4e9e01e372a2d3ff7eb8cb67cc2f4c68203aa0

Pretty minimal. For the directive version I'm just using the binding value from the directive. I think this will also make sure

[2017-07-23 03:13] hworld opened #35 "Not trimming v-translate content"
Hey there, I noticed in the code that you have a comment specifically saying you don't want to trim the content of the v-translate directive. I'm curious what the reason is for that. I have a lot of code that looks a bit like this:

[code]

With the <translate> component it trims. When using v-translate it won't.

[2017-07-24 07:02] kemar commented on #35
Because it's quite tricky to get raw HTML of a Vue component, but not in a Vue directive.

It is written in black in white in both code comments and [in the documentation](https://github.com/Polyconseil/vue-gettext#html-support).

[2017-07-24 07:02] #35 closed

[2017-07-24 07:08] kemar commented on #17
Since nobody else is asking for this feature, I'm not going to work on it for now without any further demand.

If you really want it, you can submit a pull request [following the guidelines](https://github.com/Polyconseil/vue-gettext/blob/master/README_DEV.md#pull-request-guidelines).

[2017-07-25 08:59] kennyki commented on #17
@kemar coincidently I stumbled upon a problem that can be solved with the solution proposed:

#### Interpolation inside v-for doesn't work

[code]

I tried but cannot figure out a way to access the local scope (in this case, `name`) in the component or directive.

So I shamelessly adopted the code from @hworld (hope you don't mind it) and made it to work:

[code]

Please check out #36

[2017-07-25 09:22] kemar commented on #17
Ah, I guess today is @hworld's lucky day :)

Ok thanx @kennyki I'll review your pull request asap.

[2017-07-25 13:37] bilougit opened #37 "Access gettext from winthin a custom filter"
Hi, I'm trying to translate my text through a custom filter which I've created but I'm not able to access the object `vm`

[code]

Doing this raises this error `Uncaught ReferenceError: vm is not defined`, How do I inject the translator into my filter?

[2017-07-25 16:00] hworld commented on #35
I think you misunderstood my question. I understand the need for the v-translate directive over the translate component. I was curious why you weren't trimming the msgid in the v-translate directive, but you do trim it in the translate component.

[2017-07-25 16:03] hworld commented on #17
Glad my fork could be of help! I think injecting params into translation texts is a very sane approach to handling dynamic translations. Sorry I didn't submit a PR. I'm currently working on a complete rewrite of our angular codebase into vue and haven't had time to make PRs anywhere. I was just hoping that my forked hack would be of help if someone were able to get to a PR before me.

Cheers!

[2017-07-25 16:15] kemar commented on #17
Implemented in [v2.0.20](https://github.com/Polyconseil/vue-gettext/releases/tag/v2.0.20).

[2017-07-25 16:15] #17 closed

[2017-07-25 16:25] kemar commented on #37
Nope you can't access the `vm` from inside a custom filter, this is a Vue.js design choice, [read the documentation](https://vuejs.org/v2/guide/syntax.html#Filters):

Anyway if you really want to translate inside a filter (I wouldn't recommend it), you can use [the exposed instance methods](https://github.com/Polyconseil/vue-gettext/blob/3833a4f7f7f4bca81d327ed28e3ed9b8141996b5/src/index.js#L59-L6

[2017-07-25 16:25] #37 closed

[2017-07-26 01:47] kennyki commented on #17
@hworld thanks for introducing an interesting translation strategy. I might try it out too.

[2017-07-26 05:14] tabun-matadorov commented on #15
Still have such issue with `v-translate`
[code]
trimming `msgid` before comparison did the trick for me:
[code]

[2017-07-26 07:01] kemar commented on #15
Thanx @tabun-matadorov a [new release](https://github.com/Polyconseil/vue-gettext/releases/tag/v2.0.21) is available with your fix :)

[2017-07-26 11:18] pribilinskiy opened #39 "Using v-translate in pug templates"
Following `.vue` code:
[code]

Leads to an error
[code]

Is there any plans to support `pug` templating?

[2017-07-26 11:21] kemar commented on #39
Nope, no plans to support `pug`.

There is a link [in the documentation](https://github.com/Polyconseil/vue-gettext#helper-library-for-using-template-languages-in-vues-single-file-component) on this point (please read the doc before opening an issue): https://github.com/kennyki/vue-webpack-gettext

[2017-07-26 11:21] #39 closed

[2017-07-27 11:25] noscript opened #40 "input placeholders"
Is there some easy way to translate placeholders for input fields?

[code]

[2017-07-27 11:48] kemar commented on #40
Nope, no easy way currently :'(

Duplicate of #9

[2017-07-27 11:48] #40 closed

[2017-08-02 22:52] trainiac opened #41 "Number.isNaN not supported in IE 11"
Are you planning to support IE11?  The only issue I currently see is Number.isNaN is not supported in IE11, support winodw.isNaN. This is currently used in plurals.getTranslationIndex  Let me know and I'll submit a PR. Thanks

[2017-08-03 07:14] #41 closed

[2017-08-03 07:17] kemar commented on #41
@trainiac thanx for the report, this is fixed in [v2.0.22](https://github.com/Polyconseil/vue-gettext/releases/tag/v2.0.22).

[2017-08-08 10:19] escapedcat opened #42 "Usage of plural"
Hey, I'm kinda confused how plurals are working.
I read the docs and some other issues related to plural and created this fiddle: https://jsfiddle.net/escapedcat/75peeeqy/1/
`ITEM` and `ITEMS` should be translated to `Car` and `Cars`, but only `ITEM` translates correctly.

Is this supposed to work or not? If not can you highlight the paragraph in the doc where this is stated? I would try to rework

[2017-08-08 11:21] kemar commented on #42
And how do you expect it to work if you don't use a correct JSON format for the plurals in your translation object?

Use this in your fiddle and enjoy it working:

[code]

And maybe you can read [some examples](https://github.com/Polyconseil/vue-gettext/tree/master/test/specs/json) before making me loosing my time :p

[2017-08-08 11:21] #42 closed

[2017-08-08 12:05] escapedcat commented on #42
Thanks a lot for the hint. This works fine now: https://jsfiddle.net/escapedcat/sydeqk2c/
I'm still trying to wrap my head around gettext. Sorry for wasting your time :P

[2017-08-08 12:25] kemar commented on #42
You can [read this for an introduction to the **classic** Gettext](http://www.labri.fr/perso/fleury/posts/programming/a-quick-gettext-tutorial.html) workflow.

But please note that Vue-gettext deviates from the original Gettext. Notably with regard to the way translations are exposed in a JSON format. You can learn more by reading the doc and inspecting [some dependencies](https://github.com/Polyc

[2017-08-11 04:16] karudo opened #44 "Using `window` causes errors with server side rendering"
Last version `v2.0.22` brought incompatible with server side rendering, because `window` is not defined on server side

https://github.com/Polyconseil/vue-gettext/blob/99e308b61e18b1adaf3cb4b9ca96f155328628c4/src/plurals.js#L15

this code will work on any side (and in any browser)
[code]

[2017-08-11 07:02] #44 closed

[2017-08-14 08:42] bart-1990 opened #46 "Mark a string as translatable but don't translate it right away"
I'm using vue-gettext but I'm encountering the following problem:

Let's say I have a list of animals. I add a 'tiger' using the following code:
[code]
This way I make sure the message with the id 'tiger' will be added to my .pot file. However if I would start up my app in French and if I would change the language of my app to English, the list of animals would not be translated. After all my list

[2017-08-14 16:42] kemar commented on #46
When you do:

[code]

what you're really doing is this (assuming that French is the current language):

[code]

There is no way for the content of your array to be translated again afterwards, because the content of your array is a simple string i.e. `this.$gettext('tiger'))` returns a `string`.

Even iy you had the message id for the French word, it wouldn't be translated.

If what you want is to

[2017-08-14 16:42] #46 closed

[2017-08-16 11:31] pribilinskiy opened #47 "CentOS support"
We are on CentOS 7 and it has [`gettext v0.18.2`](http://rpmfind.net/linux/rpm2html/search.php?query=gettext
) which doesn't support `JavaScript` as the language

This plugin was inspired by `angular-gettext` that we use for AngularJS apps.
There were no issues even on CentOS 6, which has even an older version of `gettext v0.17.18`

Are there any plans to write a parser, like in `angular-gettext`,

[2017-08-16 11:40] kemar commented on #47
Not yet. I do not have the time.

However, it would be the best solution since it would fix other issues too.

Unfortunately, I cannot guarantee that I will work on it.

[2017-08-16 11:40] #47 closed

[2017-08-16 19:52] hworld commented on #35
Ah, just posting here that https://github.com/Polyconseil/vue-gettext/pull/38 solved the issue I was seeing.

[2017-08-22 08:21] chlab opened #48 "How to interpolate router-link?"
What's the best way to translate something like this?

[code]

At runtime, the router-link is resolved to a regular link and vue-gettext can't find the corresponding translation.

The only other way that comes to mind is to make the entire link a placeholder and add a computed property that returns the html for the link, like:

[code]

then do something like:

[code]

With this method ^ I get the

[2017-08-22 16:20] kemar commented on #48
Yes, this is a good way to translate a `router-link`. Can't think of anything better.

Don't worry about the console info message, you won't see it in production because the [`silent` configuration option](https://github.com/Polyconseil/vue-gettext#configuration) will mostly be set to [`false`](https://vuejs.org/v2/api/#silent) (look [here](https://github.com/Polyconseil/vue-gettext/blob/4004bda20

[2017-08-22 16:20] #48 closed

[2017-08-22 19:39] chlab commented on #48
Ok thanks for your response!

[2017-09-04 21:01] tabun-matadorov opened #49 "v-translate don't work with Vue component's which wrapping <slot>"
Hi.
Having an issue with `v-translate`.
Let's say we have `<ui-button> component which wrappping `<slot>` into some additional tags:
[code]
and we are using it like
[code]
Awaited that `data-msgid` will be `Create Account`; instead it's
`data-msgid="<span class="fx:cross:center">
            <slot />
</span>"`
But exported string will be `Create Account`, so translations here will not work;
The sa

[2017-09-05 07:23] kemar commented on #49
Hi, I do not have a lot of time to help you since I have a lot of work.

If you want some help, please provide at least a link to a [minimal reproduction](https://github.com/vuejs/vue-issue-helper/blob/428607cb6601bdee4c0eb46f3592cffd36fbc544/src/i18n/locales/en/repro-modal.md) of your problem.

It can be a JSFiddle / JSBin / CodePen or GitHub repo.

[2017-09-05 08:03] tabun-matadorov commented on #49
Minimal Reproduction: https://codepen.io/anon/pen/rzbeYL
But, actually, I don't need help with this issue because in our project we have solved this issue by forking your project and changing the way `msgid` extracted in `directive.js`:
[code]
While this solution is unacceptable in main stream, in our project it will work well for us.
All I wanted is to warn that `v-translate` in some cases will n

[2017-09-05 08:05] kemar commented on #49
Thanx @tabun-matadorov I understand now. I'll take a look at this ASAP.

[2017-09-27 08:42] pribilinskiy opened #50 "Whitespace with label and v-translate"
Usually it's ok for elements like `translate` `button`, `span` to have whitespace, e.g.:

[code]
is correctly transformed to
[code]

Another example:

[code]
is transformed to:
[code]

But with `label`s there's a problem
[code]
translates to:
[code]
and only after removing the spaces, e.g. `<label>Description</translate>` the msg is translated

[2017-09-27 09:13] kemar commented on #50
Hi @pribilinskiy

I need more info to help you. Do you use the component or the directive?

Can you provide at least a link to a [minimal reproduction](https://github.com/vuejs/vue-issue-helper/blob/428607cb6601bdee4c0eb46f3592cffd36fbc544/src/i18n/locales/en/repro-modal.md) of your problem?

It can be a JSFiddle / JSBin / CodePen or GitHub repo.

[2017-09-27 20:35] trainiac opened #51 "Cant set a language per request with Server Side Rendering (SSR)."
Hello again! And thank you for your work.  I've began porting our application to SSR and am finding that vue-gettext uses a global setting for all vue instances for the current language (i.e. Vue.config.language). This is a problem for server side rendering because a different language per request may be required. One request could set the global language value which would clobber the language con

[2017-09-28 07:56] kemar commented on #51
Hello @trainiac :)

To put things in context, vue-gettext was developped before SSR support in Vue.js.

`Vue.config.language` is heavily used in unit tests and [can also be used](https://github.com/Polyconseil/vue-gettext#vueconfiglanguage) in custom filters where you can't access any `vm` instance. That may be a little bit of a challenge to refactor.

As much as your suggestion sounds great, I do

[2017-09-28 15:06] trainiac commented on #51
Totally understand.  I'll fork for now and show you what I ended up doing.

Do you really need to support a v-translate directive :). Is it purely for stylistic purposes, i.e. can the translate component do everything the directive can? If so, there could be some simplicity in only offering translate component (smaller lib size, simpler docs, supports SSR :P).  However, if you really did need to s

[2017-09-28 16:17] kemar commented on #51
Yes! Just [read the doc](https://github.com/Polyconseil/vue-gettext/tree/b4e5dd5f5528764d83c8c40ef500de38f13930e6#html-support-difference-between-the-component-and-the-directive), the directive adds support for HTML content in translations.

If you plan to submit a PR, you have to support all available features and [make sure `npm test` passes](https://github.com/Polyconseil/vue-gettext/blob/b4e5d

[2017-10-02 08:13] #50 closed

[2017-10-02 20:56] trainiac commented on #51
@kemar After having done some research I think I could submit a PR that allows vue-gettext to support server side rendering with the exception of the v-translate directive.  If you are using vue-gettext only for client side rendering v-translate will still work fine.

The reason v-translate can't be supported server side is due to a shortcoming of the Vue API.  Directives can either be made global

[2017-10-02 21:43] trainiac commented on #51
https://github.com/vuejs/vue/issues/6732 Let's see what they say.

[2017-10-04 20:40] trainiac commented on #51
Well it looks like there will be no budging on that so I don't see a way to inject reactive data into a directive without passing it into the directive (v-translate-language='language') but that seems verbose to have to do that every place you want a translation. If the only difference between the translate directive and translate component is the ability to inject html, I think I might start inve

[2017-10-10 07:12] tokyoincode opened #52 "Object.assign not supported in IE"
Hello!

Somewhat related to #41

I wanted to ask if you still have plans to support Internet Explorer; found out that `Object.assign()` is not supported in IE. [Reference](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign)

[This line in particular](https://github.com/Polyconseil/vue-gettext/blob/8a36abfc336d09b104bc68d1258c56dd7c9ca0fe/src/index.js#L32

[2017-10-10 08:08] kemar commented on #52
Hi @tokyoincode

Yes, a PR is welcome :)

I was sure that the [`es2015`](https://github.com/Polyconseil/vue-gettext/blob/b4e5dd5f5528764d83c8c40ef500de38f13930e6/.babelrc#L2) preset included a polyfill for `Object.assign`. Turns out [it doesn't](https://babeljs.io/docs/plugins/preset-es2015/).

[2017-10-10 10:00] tokyoincode commented on #52
Thank you! I do have one question. Even after a fresh clone, the 22 of the 73 tests fail; I must have missed something in the Contributing readme file, but not exactly sure what.

[2017-10-10 10:29] kemar commented on #52
Cannot help you on this one, since tests are successful for me:

[code]

[2017-10-10 12:48] tokyoincode commented on #52
Understood, thank you!

[2017-10-11 05:54] tabe1hands commented on #52
@kemar
I have the same problem. Then, I've found the cause. After `npm install`, `vue@2.4.4` is installed. To run the unit tests, we should specify the `vue` version to `2.1.6`:

[code]

[2017-10-11 06:06] tabe1hands commented on #52
Should I create pull request about the problem of the unit tests?

[2017-10-11 06:06] tokyoincode commented on #52
Yup, tests seem to pass if Vue `2.3.4` and lower is installed. Must have been a big change in the  `Kill la Kill` release.

[2017-10-11 07:01] kemar commented on #52
@tabe1hands ありがとうございます, I got it now :) I'll work on it soon to provide a fix.

@tokyoincode I'll fix the `Object.assign` at the same time.

[2017-10-11 09:23] #52 closed

[2017-10-11 14:19] noscript opened #53 "Demo doesn't work in IE 11"
Console output:
[code]

[2017-10-11 16:14] #53 closed

[2017-10-12 02:53] tokyoincode commented on #52
Thank you @kemar! 😄

[2017-10-16 14:07] kennyki commented on #49
Hi there. Just out of curiosity, does this work for you?

[code]

[2017-10-18 09:36] tabun-matadorov commented on #49
@kennyki Hi. Sure, this will work, because in your pen we translating a `span` instead of `ui-button`, so messages will be extracted & translated properly.

and `span` not a component :)

[2017-10-18 10:44] kennyki commented on #49
Cool, thanks. I think this behaviour of `v-translate` is expected, as its intention has always been to translate the HTML of the attached element.

[2017-10-31 06:51] nkostadinov opened #56 "Support for %s parameters"
Currently I'm using translations from a PHP application to translate. All the strings there are defined in the format: 'You have %s unread article in %s feed". How can I provide an array of params to be replaces in this order in the translated strings.

[2017-10-31 09:02] kemar commented on #56
Looks like this is not a `vue-gettext` issue.

[2017-10-31 09:52] nkostadinov commented on #56
Well since its a recommended way to use gettext I think this should be handled by the component.  A lot of sites and apps use this format, don't believe they will create new strings just to be compatible.

https://www.gnu.org/software/gettext/manual/html_node/Preparing-Strings.html

[2017-10-31 09:54] nkostadinov commented on #56
BTW I wrote my own component (which relies on vue-gettext) that handles this and interpolation with Vue components. But is should be nice to be part of the extension.

[2017-10-31 09:56] kemar commented on #56
Can I take a look at the code of your component?

[2017-10-31 10:49] nkostadinov commented on #56
Sure :) . The components relies on the following markup to work:

[code]

All the %s are replaced with the corresponding slots based on their index e.g. the first %s is replaces with slot "s1", the second "%s" is replaced with slot "s2" and so on. The base text string to be translated is taken from the Text node inside the component tag without the slot(s).

This is the code for the component. It

[2017-11-02 08:20] kemar commented on #56
Ok I may work on it when I have free time. But that's not guaranteed.

[2017-11-05 16:08] barakat-turki commented on #32
Hi @kemar,
I'm trying to use.
[code]
and also when try to passing locale key
[code]
I receiving
`Cannot read property 'replace' of undefined`
**Note:** `vue-gettext` version is `2.0.25`

[2017-11-06 19:07] barakat-turki opened #57 "How to translate text in placeholder"

[2017-11-06 20:08] kemar commented on #57
Since `placeholder` is an attribute, you can't.

It's a known issue: https://github.com/Polyconseil/vue-gettext#known-issues Please read the documentation before opening an issue. It will save your time and mine.

[2017-11-06 20:08] #57 closed

[2017-11-07 10:41] barakat-turki commented on #57
Ok, sorry about that,
but there a way to extract a text by js method like `vm.$gettext`.
is it can translate a text to pot file?

[2017-11-15 14:39] dazbo opened #58 "Lazy $translations update or change (request)"
The plugin expose $translation by attaching a property to the `Vue` object (at the end of the `index.js` file).
What is the purpose of this exposition? how to use it?

Related to this issue #12 this can be a way to update/change internal dictionary used to retrieve translation.

I try (using a fast and dirty modification) to expose this same property to the prototype
[code]
or
[code]

and it looks

[2017-11-16 15:56] AlexandreBonaventure commented on #51
@trainiac Is your fork is already working and usable ?

[2017-11-17 11:52] trainiac commented on #51
My fork works for my purposes. I only support the translate component. And there is a little more instruction on how to use it.  If you're interested let me know and I could walk you through it via gitter.

[2017-11-19 17:52] AlexandreBonaventure opened #59 "considering unescaping msgid"
**example**
[code]
will result in this `msgid` =>
[code]
I'm using PoEdit which handles uft-8 and doesn't escape html characters my msgid is still
[code]
so it throws a warning `Untranslated msg found`

For now my workaround is to escape `&` => `&amp;` directly in my template but it will be a nice improvement IMO.

Thanks for this great package anyways

[2017-12-28 12:09] mazavr commented on #9
In my project I use this method:
a.html
[code]
Then
[code]
It grabs my sting to *.pot file

And my filter:
[code]
Will it work?

[2018-01-03 04:30] GUI commented on #28
As one other potential option for xgettext parsing of Vue files, I've created [gettext-vue](https://github.com/GUI/gettext-vue) which integrates with [xgettext-template](https://github.com/gmarty/xgettext) to do some pretty basic parsing of Vue files.

The parsing is just done with some basic regexes (based on [gettext-ejs](https://github.com/pekala/gettext-ejs)) that might not handle more complic

[2018-01-09 18:28] kemar commented on #28
@GUI thanx for letting us know. This is really interesting.

[2018-01-15 10:06] bart-1990 commented on #28
I did find one bug in the xgettext compilation of .vue files. It has something to do with the amount of '/' the file contains.

Suppose you have the following test.vue file:

`<template>
	<div>
		<div></div>
	</div>
</template>

<script>
	export default {
		computed: {
			zoomLabel() {
				return this.$gettext('Zoom');
			}
		}
</script>`

Running the command
`xgettext --language=JavaScript --keyw

[2018-01-18 15:54] amir-hadi opened #60 ""No translations found" warning for default language"
We see "No translations found for en_US" warnings, but en_US is the language of the code. So why should we translate it? Did I configure something wrong or is this a bug?

Using vue-gettext in version 2.0.23.

[2018-01-18 16:15] kemar commented on #60
You don't have to translate your default language.

But you still have to follow a [basic `gettext` workflow](https://github.com/Polyconseil/vue-gettext#workflow) until your translated `.po` files become usable in your Vue.js app. This [warning](https://github.com/Polyconseil/vue-gettext/blob/06e3dfe66666e050a3566d24127048bfb6f6f320/src/translate.js#L33) means that you didn't reach the [compilatio

[2018-01-18 16:15] #60 closed

[2018-02-20 15:36] eregnier opened #61 "translation missing message when default language is set"
I have generated translation files for all my languages except the one used il my app, because I don't need to generate a po file where msgid = msgstr everywhere.

I think when default language is set (or maybe another parameter should do the trick), no warning message should be output.

Maybe am I missing something to do this, but at the moment, the messages are filling the console when I toggle

[2018-02-20 15:38] thujone25 commented on #28
@bart-1990 actually I wrap every template with `()` and I've not faced with problems yet. So I think that `()` better than counting `/`

[2018-02-20 16:05] kemar commented on #61
Yes, this is the current state of the plugin: a `.po` file is required for any available language, even the default one.

Please, have a look at this response: https://github.com/Polyconseil/vue-gettext/issues/60#issuecomment-358696996 in issue #60.

I can understand that this can be a bit of a nuisance. I'm too busy now to work on it, but feel free to submit a PR if it becomes unbearable.

[2018-02-21 15:01] kemar commented on #61
Closed by #62

[2018-02-21 15:01] #61 closed

[2018-02-21 15:01] kemar commented on #60
Update: fixed in #62.

[2018-02-21 16:19] bart-1990 commented on #28
It's still a bug that needs solving. :) Wrapping all my templates in () is not something I'm gonna do.

[2018-02-28 11:37] narrowtux opened #63 "Cannot read property 'hasOwnProperty' of undefined"
[code]

This usually happens when I introduce a msgid with context that is identical to a msgid without a context.

Version `2.0.25`

[2018-02-28 11:38] narrowtux commented on #63
Honestly I would prefer this tool never to crash and, you could wrap it with a try-catch. The problem here is that I don't want to run my extract setup every time I introduce new msgids because it takes ages. But if this crashes, I can't even see the component that contains the translation.

[2018-02-28 12:25] kemar commented on #63
If you want some help, please provide a link to a [minimal reproduction](https://github.com/vuejs/vue-issue-helper/blob/428607cb6601bdee4c0eb46f3592cffd36fbc544/src/i18n/locales/en/repro-modal.md) of your problem. I don't have the time to reproduce your issue by myself.

[2018-02-28 12:26] kemar commented on #59
I'm closing this because I cannot reproduce your issue, the `msgid` I got is not escaped.

Please provide a link to a [minimal reproduction](https://github.com/vuejs/vue-issue-helper/blob/428607cb6601bdee4c0eb46f3592cffd36fbc544/src/i18n/locales/en/repro-modal.md) of your problem if you're still experiencing it.

[2018-02-28 12:26] #59 closed

[2018-02-28 12:55] kemar commented on #58
`$translations` is exposed globally so it can be [accessed easily](https://github.com/Polyconseil/vue-gettext/blob/db9f9448b889ff993a3a7aec03928d38096e0d29/src/translate.js#L29) through the code base.

What would be the use case to update or change `$translations` inside of a component?

[2018-02-28 14:38] dazbo commented on #58
The initial purpose was to be able to load 'chunk' of translations, so each components (or at least very specific one) to load and add related translation entries only when load/mounted rather than loading the whole application entries.
Also, we tried to be able to add more languages based on user selection and choice into the application.

I will try to provide a code sample with the proposed cha

[2018-03-02 14:32] kemar commented on #58
Ok, I'm closing this for now. Feel free to reopen it if you encounter this issue again.

[2018-03-02 14:32] #58 closed

[2018-03-02 14:37] #21 closed

[2018-03-05 16:20] #63 closed

[2018-03-05 17:11] narrowtux commented on #63
Me not providing a full-blown reproduction repo doesn't mean my issue is not valid don't you think? I also don't have time to spend on setting this up.

[2018-03-05 18:09] kemar commented on #63
Sorry, I didn't mean to offend you.

I'm closing this until you'll provide more information or a way for me to reproduce your issue.

[2018-03-05 19:26] narrowtux commented on #63
Ok. I will try to give you more information on how to reproduce tomorrow. I was under the impression that you would only look at this if I created a repo

[2018-03-08 08:55] narrowtux commented on #28
For webpack users that want to use "$gettext" etc in slots: I've created a webpack loader that plugs behind vue-loader, gets the compiled vue source code, runs GNU xgettext on that source code and emits a pot file for each vue component file. You can also use this for other files that are transpiled to javascript.

https://gist.github.com/narrowtux/6b745e9346db97cec7f122f5bdf9bba4

[2018-03-16 16:53] nkostadinov opened #66 "Input losing focus"
I noticed some strange behavior in my application when using v-translate attributes. The inputs are losing focus (may be they are rerendered by Vue).

When I remove the v-translate from the h elements the issue is no longer happening, This bug also causes some of the labels to change their translation with another element on the page.

I managed to isolate the case down to this js fiddle, just try

[2018-03-18 12:12] imcvampire commented on #51
Hi @trainiac, can you share your fork with us?

[2018-03-18 21:37] kemar commented on #66
Thank you for your report. Your fiddle helped me a lot to reproduce your issue.

It looks like it's related to the Vue’s virtual DOM algorithm. [We used auto-generated keys](https://github.com/Polyconseil/vue-gettext/blob/bd9ac5aec66792db4640ca01e1d8ba94241b0ac2/src/directive.js#L62-L68) to fix #29 and that [triggers the virtual DOM algorithm](https://vuejs.org/v2/api/#key) which has some side eff

[2018-03-19 11:13] nkostadinov commented on #66
Just wanted to share this small snipet indicating the problem. I've already found that wraping in parent element fixes the issue.

I've spent many hours till I figured out that this was caused by v-translate, so I want to help someone who has the same problem.

[2018-03-19 12:27] kemar commented on #66
Yes I  know, I'm sorry you lost so much time.

I didn't close the issue. I'm still thinking about it.

[2018-03-21 14:48] hauleth opened #67 "`v-translate` doesn't work in SSR components"
`<translate>` elements are working perfectly, but elements with `v-translate` directive are rendered as English even while correct language is set and working.

[2018-03-21 14:56] #67 closed, assigned to nobody

[2018-03-30 22:35] mitar commented on #49
I am having exactly the same problem. The issue is that now it is really tricky to know when to use `<translate>` and when to use `v-translate` because it depends how the component is structured internally. But we do not want `<translate>` because it adds an extra span.

[2018-04-02 15:48] mitar commented on #49
I have always just a string internally. The issue is that if the outside component has internal DOM elements it becomes messy. So:

[code]

[code]

This might or might not work depending on how components are implemented. Maybe `custom-component-one` has internally a DOM element wrapping its `<slot>` in which case `v-translate` picks up the whole thing. And then it is not possible to match it agai

[2018-04-26 08:15] arthursouviron opened #69 "Issue with Arabic"
Hi,

Basic use of the ```v-translate``` directive does not work for Arabic.
I was able to identify what I think is causing the issue.

Assuming we are using this template :
```<div class="title" v-translate>History</div>```

And the translations.json file is as follow:
[code]

When it goes into the ```getTranslation```, I get the following parameters
![screen shot 2018-04-26 at 16 08 31](https://u

[2018-04-26 20:17] kemar commented on #69
Thank you for the report. I'll try to fix it asap.

[2018-04-27 07:58] #69 closed

[2018-04-27 08:40] arthursouviron commented on #69
Thanks a lot for the quick fix!

[2018-05-03 09:52] M0dM commented on #39
vue-gettext is working with pug & single file components.
Just use html for translated elements like this:
[code]

[2018-06-12 08:40] MartinVandersteen opened #70 "Possibility to specify which translation file to use"
Hello!

My use case is that we have a central VueJS app that renders our different client platform's based on their setting, design informations, etc. All those informations come from the database.

Do you think it would be possible for us to have a group of translation files for each of our clients, that would be retrieved at the start of the application via HTTP get or something?

Thanks in adva

[2018-06-14 13:35] kemar commented on #70
Hello,

This cannot be done with the plugin in its current state.

You can have a look at https://github.com/Polyconseil/vue-gettext/issues/12 if you want ideas to implement this feature by yourself.

[2018-06-14 13:35] #70 closed

[2018-07-06 13:22] Hyzual commented on #66
Hi, just wanted to let you know we've been hit by this behaviour too. It took a while to figure out that v-translate on a child node was causing the parent node to re-render on every keyup.

After quickly browsing the code, I've found that v-translate sets a key attribute on bind(). Unfortunately, it looks like doing this will trigger a re-render of the parent, and thus going again in bind() lifec

[2018-07-06 13:29] Hyzual commented on #66
Cool :) thanks for the quick answer.

By the way thank you very much for this cool library ! It's really great

[2018-07-08 09:28] #66 closed

[2018-07-08 09:40] kemar commented on #66
I published [v2.1.0](https://github.com/Polyconseil/vue-gettext/releases/tag/v2.1.0) in which auto generation of key attributes is off by default.

This should fix the issues we're talking about here.

People can enable the previous behaviour by turning [`autoAddKeyAttributes`](https://github.com/Polyconseil/vue-gettext#configuration) to `true`.

[2018-07-09 08:08] Hyzual commented on #66
Thanks very much for the quick fix and release !
We'll use it shortly.

[2018-07-10 13:00] thujone25 commented on #51
@trainiac personally I use cookies for translations with SSR. Pull value from cookies -> set the global $language param on the Node side

[2018-07-15 06:28] coulix opened #71 "make makemessages and gettext-extract-> No configuration found"
Hello there,

[code]

Do we need to create this config ?

https://www.npmjs.com/package/gettext-extract

[2018-07-15 07:37] coulix commented on #71
I confirm that `2.0.31` does work but the latest gettext extract `2.1.x` requires  a config.

[2018-07-15 18:21] coulix commented on #71
My bad

[2018-07-15 18:21] #71 closed

[2018-07-17 10:34] Tails128 opened #72 "Separate Output_dir and input"
Output_dir and input files in the Makefile would better be two different things:

let's assume someone's making a nuxt project: he/she needs both an output (in this case dev )
and multiple inputs (pages, plugins, middleware etc).

It is easy done by changing this

[code]

into this

[code]

[2018-07-21 09:06] #72 closed

[2018-07-21 09:07] kemar commented on #72
@Tails128 it makes sense, thanx for the feedback.

[2018-08-10 16:20] brunobg opened #73 "Some strings are not translated on a language change"
I noticed that strings in other components are not always changed when the $vm.language is, particularly siblings of the parent component. It's a bit involved to provide a test case, but I could debug and help to fix this. Is there at least a workaround to force "redraw every component with the new strings"? a this.forceUpdate() applies only to the current component, which is already updated prope

[2018-08-11 13:28] kemar commented on #73
Not to my knowledge, [forceUpdate](https://vuejs.org/v2/api/#vm-forceUpdate) is a part of the Vue's API, not a part of vue-gettext.

I cannot help you without a link to a [minimal reproduction](https://github.com/vuejs/vue-issue-helper/blob/428607cb6601bdee4c0eb46f3592cffd36fbc544/src/i18n/locales/en/repro-modal.md) of your problem.

Meanwhile, make sure your [vue-gettext's configuration](https://

[2018-08-11 13:28] #73 closed

[2018-08-23 07:54] TranDinhKhang commented on #9
@mazavr it work, man

[2018-08-31 12:11] andyewen opened #74 "Text not changing in an if statement when using translations."
I came across this problem in a project I've been working on and I've created an example that demonstrates it.

[code]

Clicking the button changes the flag between true and false. The issue is that the text inside the p tag does not change when the button is clicked. Using `<translate>` instead of the `v-translate` directive doesn't work. If I remove the `v-translate` directive the example works

[2018-08-31 13:26] kemar commented on #74
Yes, actually this is how the plugin works with Vue rendering mechanism. You can [read about it here](https://vuejs.org/v2/guide/conditional.html#Controlling-Reusable-Elements-with-key).

It's up to the developper to add a `key` attribute manually for such cases.

You can also tell the plugin to generate `key` attributes automatically by enabling the `autoAddKeyAttributes` config option introduced

[2018-08-31 13:26] #74 closed

[2018-09-27 15:49] kevingobert opened #75 "Problem with CLI 3 configuration and html tags"
Translations don't match because VueJS adds the data-v attribute. I don't have the problem when I initialized
 the project with cli2. I may have made a mistake.

![screenshot 2018-09-27 17 42 52](https://user-images.githubusercontent.com/2988420/46157826-e2b44b80-c27c-11e8-90a8-db71ea788e10.png)

![screenshot 2018-09-27 17 44 09](https://user-images.githubusercontent.com/2988420/46157864-f5c71b80-

[2018-10-02 10:11] kevingobert commented on #75
@obrochard  I have the problem when the style is "scoped". Do you have a solution for this?

[2018-10-04 07:26] pantuchy opened #76 "How to run gettext function in custom js module?"
Hello.
Please advise, how to run translation functions like (gettext, ngettext and etc. ) in custom js file? For example Vue-Gettext is installed and initiated in main.js file, everything is working fine, but if I want to use gettext functions in router.js file, functions are not working, I have tried:

`Vue.$gettext('Some text')`
`this.$gettext('Some text')`
`Vue.prototype.$gettext('Some text')`

[2018-10-11 09:26] p4t5h3 opened #77 "Add support for comments in JavaScript annotations"
Translation comments are only supported when using the `v-translate` directive or `<translate>` component but not for plain JavaScript annotations. To add support, I thought about two options.

The first is extending the existing functions with an optional parameter like this:

    vm.$gettext(msgid, comment = '')
    vm.$ngettext(msgid, plural, n, comment = '')
    vm.$pgettext(context, msgid, co

[2018-10-11 09:36] vperron commented on #77
I think the first version is way more explicit, and we'll run into less false positives.

[2018-10-11 13:55] danielrentz commented on #77
The drawback is that translator comments become part of the runtime although they are only needed at build time to generate the catalog (right?)

[2018-10-11 14:21] vperron commented on #77
Sure, but that's how it works in many other languages and implementations.

[2018-10-11 15:08] peterthomashorn commented on #76
Have you tried `router.app.$gettext('Some text')`? The [`app` property](https://router.vuejs.org/api/#router-app) on the router instance is the Vue instance on which the global gettext methods are available.

[2018-10-15 07:32] danielrentz commented on #77
Fine with me :-D

[2018-10-15 10:15] janezkranjc opened #78 "Escape translation context variables"
Right now if I do this:

```<span v-translate="{myVar:var}">This is my variable %{myVar}</span>```

If the value of `var` is an unescaped HTML entity such as `<br>` the resulting HTML will be:

```<span>This is my variable <br></span>```

In contrast if I do this without `v-translate` the code looks like this:

```<span>This is my variable {{var}}</span>```

And the resulting HTML is:

```<span>Th

[2018-10-15 10:16] janezkranjc commented on #78
This becomes also a security issue if a variable is malicious code such as a `<script>` tag, which gets executed.

[2018-10-16 16:12] kemar commented on #78
Sometimes you have to embed HTML in your translations, it's a valid use case. The directive supports HTML content, it's a built-in feature, see the documentation: https://github.com/Polyconseil/vue-gettext#html-support-difference-between-the-component-and-the-directive

Escaping HTML in the directive would break the current behaviour.

Right now, if you want to avoid the rendering of HTML content,

[2018-10-17 08:21] janezkranjc commented on #78
I don't want to escape HTML inside the directive but inside the variables that are evaluated which is what vue does with handlebars. Or am I wrong?

[2018-10-17 09:32] kemar commented on #78
Nope you're right! Thanx for the report. I published a new version with a fix https://github.com/Polyconseil/vue-gettext/releases/tag/v2.1.1

[2018-10-23 09:03] Nivani opened #79 "Reactivity problem when using v-translate in combination with v-if (since 2.1.0)"
When using v-translate in combination with v-if, reactivity is lost.

This jsfiddle demonstrates the problem:
http://jsfiddle.net/eywraw8t/429637/

When clicking the buttons at the top you will see that the bottom label (that uses v-translate) is not reactive.

Lowering the version of vue-gettext to 2.0.31 fixes the problem: http://jsfiddle.net/eywraw8t/429660/

[2018-10-23 10:34] kemar commented on #79
Yes, this is how the plugin works since [v2.1.0](https://github.com/Polyconseil/vue-gettext/releases/tag/v2.1.0).

It's up to the developper to add a `key` attribute manually for such cases. You can read about [Vue rendering mechanism here](https://vuejs.org/v2/guide/conditional.html#Controlling-Reusable-Elements-with-key).

You can also tell the plugin to generate `key` attributes automatically b

[2018-10-23 10:34] #79 closed

[2018-10-23 11:28] Nivani commented on #79
Aha, you're right. Didn't search the issues thoroughly enough

[2018-10-29 15:04] narrowtux commented on #78
This breaks all the translate tags! now it looks like this:

![image](https://user-images.githubusercontent.com/616791/47658976-3f649800-db94-11e8-945d-bdad42d80d62.png)

[2018-11-29 11:00] bernhardreiter opened #80 "Handling of leading and trailing whitespace in templates inconsistent"
Leading and trailing whitespaces are stripped with vue-gettext@2.1.1 and easygettext@2.7.0
only if a translation is available. This is an inconsistency which can be a problem together with some styling.

### example
We have code like
[code]

#### Case 1:
If there is no translation available, this get expanded to something like

[code]

which in our style sheet formats with space as expected like `

[2018-11-29 14:18] bernhardreiter commented on #80
More research show, it is a formatting challenge with vue-gettext, see
https://codesandbox.io/s/5n5jyqn2x

where
[code]

with
[code]

leads to
[code]

expected would be
[code]

[2018-11-29 21:14] kemar commented on #80
I am not sure that this is a vue-gettext issue.

Using your code sample without any `<translate>` tag:

[code]

I'm getting `Vue.jsis nice`.

Did you use [`preserveWhitespace: false`](https://vue-loader.vuejs.org/options.html#compileroptions) in Vue Loader?

Btw, you can read more about spaces in issue #65

[2018-11-30 08:07] bernhardreiter commented on #80
Yes, there seems to be a general vue.js problem, so I've opened an issue with them (see automatic link).

Still the inconsistency remains as an issue for vue-gettext
and that the vue.js white space problem probably should be described in the docs.

[2018-11-30 09:14] kemar commented on #80
@bernhardreiter you should have a look at this comment https://github.com/vuejs/vue/issues/9021#issuecomment-435601518 (referenced in the issue you opened on Vue repo).

You have to configure your stack correctly at some point, with `preserveWhitespace` set to `true`, as I suggested in my last comment.

This isn't a bug with vue-gettext at all :)

[2018-11-30 09:14] #80 closed

[2018-11-30 10:36] bernhardreiter commented on #80
@kemar

To your comment I've followed the link to https://github.com/vuejs/vue/tree/dev/packages/vue-template-compiler#options which reads

I've grepped my source files and did not find `preserveWhitespace`.
Therefore I've assumed the wrong default.  :/ The Vue issues helped to learn about this.

Still I believe that for users of vue-gettext this poses and issue which should be documented and the

[2018-12-09 23:34] sandroden opened #81 "templates string support"
Hi, I wanted to start localizing a new project using vue-gettex that strikes me for the rich documentation and the solution 360 degrees (from .vue, to extracting and to json).
I read the limitation in the docs but when I started I discovered that template strings are not supported in any form, I understand that's a limitation of xgettext.
Are you suggesting to avoid using template strings? (In thi

[2018-12-10 14:12] vperron commented on #81
Hi, you should use https://github.com/Polyconseil/easygettext for string extraction. It's not part of vue-gettext as stated in the readme ;) But it's totally capable of extracting template strings, and much more ES6 constructs.

[2018-12-10 19:14] sandroden commented on #81
Well, I used it, and I installed the Makefile that it shipped with vue-gettext, if I read it correctly it calls easygettext in the beginning and then it calls xgettext:

[code]

 It's that part that complains:
[code]
So when you say that I shoud use easygettext, do you mean I shouldn't use the Makefile shipped with vue-gettext? BTW, easygettext in the home page does not report any single example w

[2018-12-10 19:31] vperron commented on #81
You're right, I'll update both tomorrow!

On Mon, Dec 10, 2018, 20:14 Sandro Dentella <notifications@github.com wrote:

[2018-12-11 13:08] vperron commented on #81
It's done now. Makefile and docs updated in both packages, on master though, I did not create a release just for this.

[2018-12-11 13:53] vperron commented on #81
By the way: `easygettext` still does not support template strings as translation tokens, but they can be present in the source file.

[2018-12-12 09:03] sandroden commented on #81
A Makefile that extracts more translations strings for me:

[code]
this allows me to use translation in attributes as per previous message (with filter version). It extracts thought
`msgid "{{'Save' | translate}}"` along with simple 'Save' if you have it in your text...

[2018-12-14 09:36] lajosbencz commented on #28
Putting the <script> tags at the top of vue files solved the missing msgid problem for me.

[2018-12-16 09:45] sandroden commented on #76
This is interesting but I have a similar need for vuex and for a pure js module  (messages used by vuelidate-error-extractor). Do you have a solution for these situations?

[2018-12-16 19:53] escapedcat commented on #76
We're doing this:
[code]

[2018-12-18 01:02] sandroden commented on #76
I tried it, I created gettext.js and then I imported it in the store and I get the error:
`cv.js?c148:113 Uncaught TypeError: Object(...) is not a function`.

[2018-12-18 08:44] escapedcat commented on #76
Did you add the plugin to your Vue instance? The idea assumes that you integrated vue-gettext into your Vue-project already. If yes we need to check more detailed. Maybe you can create a test-repo and share it.

[2018-12-18 10:00] sandroden commented on #76
Yes, I integrated vue-gettext with following conf:
[code]
And is working perfectly. Honestly -due to my poor knowledge of js, my background is Python...- I'm, uncertain of what happens when you write Vue.use(...): any instance of Vue will get that plugin from Vue.prototype? that means that if it works I can get also $language in the same way? Could you even use Vue.prototype.$gettext directly?
Any

[2018-12-18 21:20] sandroden commented on #76
I prepared this [codesanbox:](https://codesandbox.io/s/lp21z7jpm9) that show the error I'm getting.
In main.js I tried to change the import order so that plugin is loaded before App is read, but the error doesn't change.

Any hint is appreciated.

[2019-01-04 17:54] kemar commented on #78
@majesticcpan yes I can see 😢 Thank you very much for your example.

But, and I'm sorry for that, I can't revert nor cancel this commit because it solves a major XSS vulnerability. Dynamically rendering arbitrary HTML can be very dangerous for your app.

Given your use case, I prefer to make life a little less pleasant for translators, but very more secure for your users.

[2019-01-04 21:14] majesticcpan commented on #78
@kemar, i've understood your concerns about XSS, but that feature is really needed if your codebase is "external data free", and you have 40+ translations, when every change of a translation key is painful. I really don't want to fork lib or something like this. Is there a chance that we can introduce some global option to allow html in variables or another way to do that (maybe as option of a dir

[2019-01-05 07:32] kemar commented on #78
@majesticcpan ok I understand your point. A directive's option could be the best way to solve this. I'll work on it this week-end.

[2019-01-05 10:45] #78 closed

[2019-01-05 10:52] kemar commented on #78
@majesticcpan, there is a new attribute for directives in release [2.1.2](https://github.com/Polyconseil/vue-gettext/releases/tag/v2.1.2) that should solve your problem.

I updated [the documentation here](https://github.com/Polyconseil/vue-gettext/tree/c76843#directive-interpolation-and-raw-html-in-data):

[code]

[2019-01-07 14:23] mantasdaraciunas commented on #75
@kevingobert Have you solved this issue?

[2019-01-07 14:30] kevingobert commented on #75
@mantasdaraciunas No, I have not found a solution.

[2019-01-10 11:29] sandroden opened #83 "Document how to run gettext from within store"
There is already an open issue, #76 on a request to run gettext from a custom module. It's been there since october. I also created a codesandbox to show that the solution suggested is failing for me.

While I really hope there is a solution that I wasn't able to find, I'd like that you document either the solution or the fact that you cannot use gettext from within store and custom modules.

[2019-01-10 12:28] #83 closed, assigned to nobody

[2019-01-10 12:31] kemar commented on #83
gettext has it's own documentation https://www.gnu.org/software/gettext/manual/gettext.html I won't read it for you.

[2019-01-10 13:14] sandroden commented on #83
I'm afraid there has been a misunderstanding.

I'm not asking how gettext works (I have been using it from python for over 15 years) but how can I use vue-gettext's `$gettext` in a vuex store .  That's strictly specific of vue and specifically vue-gettext plugin implementation (and possibly of javascript?).

You are very accurate in the documentation explaining how to use it in `.vue` component, s

[2019-01-10 18:18] kemar commented on #83
I've closed this issue as a duplicate of #76

@sandroden I'm maintaining this project on my free time and I'm doing by best to help users. Opening a new issue because the previous one hasn't been closed is not the way it works.

[2019-01-10 19:12] kemar commented on #76
@sandroden as its name implies, this plugin is thightly coupled to a Vue.js application. All components of an app are sharing the same Vue instance (in your codesandbox it's the one in `main.js`).

When you're importing Vue in your `gettext.js` file, you're creating another instance of Vue that is not aware of the plugin without `$gettext` in its `prototype`. That's why your codesandbox shows an e

[2019-01-10 23:47] sandroden commented on #76
My codesandbox sample was in fact the attempt to implement @escapedcat 's suggestion.  Reactivity may not be an issue in mutations and actions at least. I [just realized](https://github.com/vuejs/vuex/issues/1399) that store has an instance of vue as `store._vm`, that can be used at least to translate messages from within an action. The case that is left unresolved to me is a message list used in

[2019-01-15 14:00] alexkiro commented on #9
Ran into this issue as well, FWIW the solution mentioned [here](https://github.com/Polyconseil/vue-gettext/issues/9#issuecomment-354278897) by @mazavr does work, however the extraction is really slow this way.

I ended up using a mix of vue-gettext and [babel-vue-extractor](https://pypi.org/project/babel-vue-extractor/), and then using `msgcat` to concatenate the two.

----

With a `babel.cfg` fil

[2019-01-17 15:58] drzippie commented on #9
Using @alexkiro method I use this bash file to extract and make translations
generate_translations.sh
[code]
for attributes like:

[code]

[2019-01-17 16:02] vperron commented on #9
In my experience, https://github.com/Polyconseil/easygettext extracts everything now, including Vue templates, ES7 code, and so on. msgmerge etc is not necessary anymore and should be removed from the  docs. I'll do it asap.

[2019-01-17 16:19] drzippie commented on #9
the current version of easygettext don't extract attributes like

[code]

[2019-01-17 16:21] vperron commented on #9
that seems to me like a nice addition to easygettext :) Do you think you could come up with a pull request ? Would seem way cleaner than a complex pybabel + GNU gettext + easygettext utilities, don't you think ?

[2019-01-29 15:56] Fadiabb opened #84 "Makefile loses translations if .po file is defect"
Hallo,

`makemessages'  Makefile replaces all the already translated strings in .po file with empty strings if .po file is  defect and just shows an error  message.

reproduce the problem :
either
a- duplicate the same string in  .po file in different lines.
or
b- add extra new line which breaks the .po file syntax (e.g. because of  wrong .po files merging  this characters ">>>>>>" stayed in the .

[2019-01-29 16:08] vperron commented on #84
Sure ! Could you come up with a pull request to fix that issue ? I'm not sure we want to support broken PO files though.

The ``makemessages`` command is a little old though, we could replace it with something that only uses ``easygettext`` for both JS and HTML: cf. https://github.com/Polyconseil/systematic/blob/master/mk/main.mk#L186-L197 (and reflect that in the README soince we won't need some

[2019-01-30 13:22] Fadiabb commented on #84
We lost the translations when Makefile detected an error in .po file  (it overwirtes translated strings with empty ones)
What expected:
Makefile should abort the execution when an error occurs  instead of deleting all of the already translated strings.
so we dont lose any data and we can fix the error in the broken file  without  something been lost

[2019-02-05 10:54] bernhardreiter commented on #84
Taking a look at the problem now to see if I can come up with a solution.

Technical idea how to solve it: If the condition is detected, stop further processing in the Makefile and revert to the original .po file to avoid losing data.

[2019-02-05 12:14] bernhardreiter commented on #84
## Solution
 1. First fix the logic to only create a new .po file if none was there. Use `if` to make this more readable.
 2. Make sure the Makefile stops if msgmerge bails out, for this an extra `break` statement is needed within the shell loop.
 3. Move the output to the right place within the `if`. This is fine as msginit will also output something, so there is a message each time.

The followi

[2019-02-05 12:44] #84 closed

[2019-02-11 12:22] Fadiabb opened #86 "Makefile fails to maintain template.pot on multi-user system"
* since Makefile uses **template.pot** in its process, the parallel use of several
   users causes interference on this file(multi-user system).
 * the actual status of this file could not be maintained to all users if e.g.
   `makemessages` Makefile executed from differnet users.

**reproduce the problem:**
 * user A calls `makemessages`, this changes the **template.pot** file
 * when user B call

[2019-02-11 12:23] Fadiabb commented on #86
### solution:
add the name of the user to `template.pot` filename so each user has his own file,this keeps the behavior of this file  as it is.
we solved this problem with this commit: [https://hg.intevation.de/gemma/rev/dd9d90cae683](https://hg.intevation.de/gemma/rev/dd9d90cae683)

[2019-02-11 13:09] bernhardreiter commented on #86
One problem is: Because user A created the file, user B cannot write it.

[2019-02-12 08:30] Fadiabb opened #87 "`translations` Makefile recreates the translations even if this not important"
Everytime `translations` is called triggers a new creation of _.po_ files and thus a new _translations.json_ file whithout checking if there are any updates in this files and if its necessary to create new ones.
this behavoir is inefficient since we initialze new files  with the same content.

[2019-02-12 08:33] Fadiabb commented on #87
### Solution

* Change target `translations` to only be remade if one of
   the `*.po` files changes.Technically is only directly depends
   on these files

The following diff should improve this behavior:

[code]

[2019-02-12 08:45] Fadiabb opened #88 "The call of make without parameters causes make clean to execute"
* calling `make` without parameters leads to execute make **clean** which deletes `translations.json` and `template.pot`.
we want improve this behavoir to avoid the deletion of files with the accedintally call of make without parameters.

[2019-02-12 08:49] Fadiabb commented on #88
### Solution
add `all` target to prevent the accedintally call of make

we improved this  with the commit : [https://hg.intevation.de/gemma/rev/bba166f0326e](https://hg.intevation.de/gemma/rev/bba166f0326e)

[2019-02-13 14:49] #87 closed

[2019-02-18 11:15] #88 closed

[2019-03-18 05:43] mitar commented on #48
But rendering `<a>` link in this way instead of `router-link` means that click does not get intercepted in the history mode, so the app reloads?

[2019-03-18 07:42] mitar opened #93 "Slot-based interpolation"
Currently, if one wants to translate a paragraph of text, which includes also `<router-link>` links, the suggested approach is to use [`v-translate` directive](https://github.com/Polyconseil/vue-gettext#html-support-difference-between-the-component-and-the-directive). The problem with this approach is with how to interpolate `<router-link>` so that clicking on a link does not reload the app. Namel

[2019-03-18 08:38] vperron commented on #93
I see how we could proceed to a (quite massive) addition to vue-gettext to support your idea, however as you said, `easygettext` is not yet smart enough (and nothing else is, either !) to be able to extract such a string in the way you're expecting it. It may theoretically be programmed, but I don't think it's a good idea because that would require a vue-router specific heuristic and that will mos

[2019-03-18 21:36] mitar commented on #93
I do no think it is too hard, BTW. It would be mostly converting any string of form:

[code]

to:

[code]

So I think this can be done through regex expressions. Anything inside `<translate></translate>` you simply remove any HTML tags. The only exception is that if a HTML tag has `translate-name` attribute, you convert that to a placeholder.

You do not know necessary have to hard-code too specif

[2019-03-19 07:59] vperron commented on #93
Indeed :) Do you think you could try this in a pull request in both easygettext & vue-gettext ? Not sure we'll succeed in the first pass but it's definitely worth a try to demonstrate the solution and get there sooner.

[2019-03-19 08:01] #86 closed

[2019-03-20 07:12] mitar commented on #93
I think this is slightly over my head, but I opened: https://github.com/Polyconseil/easygettext/issues/58

[2019-03-20 10:49] vperron commented on #93
Aha :) Yep, so we'll keep that in mind and think about it when we next proceed to major changes. But it won't be immediate, we don't have much time to spend on this package's improvement usually, unless merging other community-issued pull requests :)

Someday !

[2019-04-17 13:16] trainiac commented on #51
It looks like Vue is gonna allow directives per instance now so when this lands in 3.0 I'll submit a PR. https://github.com/vuejs/rfcs/pull/29

[2019-04-23 13:09] tcitworld opened #95 "Incorrect $gettextInterpolate signature value"
[code]
should be
[code]

[2019-04-23 13:23] #95 closed

[2019-05-14 11:00] junish commented on #95
According to [a test case](https://github.com/Polyconseil/vue-gettext/blob/1b44cc38f1b9e47d4713db7372e0c79a271c84a5/test/specs/interpolate.spec.js#L32-L37), `disableHtmlEscaping` contains `undefined`. So it should be

[code]

Is it right?

[2019-05-14 12:44] tcitworld commented on #95
@kemar :arrow_up:

[2019-05-17 12:55] tcitworld commented on #95
Thanks !

[2019-09-06 07:37] JonathanBesson commented on #77
Hello,

something new about that ?
I think the first proposal is the best way do to this !

bests regards

[2019-10-14 16:35] brunobg commented on #51
I understand vue 3.0 will take a few months yet, and the repo fork from @trainiac is quite old and can't be merged automatically. @trainiac, do you think it's worth updating your fork for the current version, even thought v-translate won't work yet? I'll need translation for a SSR soon and I could work on that update.

[2019-10-16 18:45] kwesterfeld commented on #9
Given that easygettext works with `| translate` filter syntax and translate, I have adopted this as the best solution here.  While using an expression with attr=":$gettext('Text')" silently "works" in that the translation compiles, easygettext doesn't see this type of text and so that is a dead end.

In using `| translate` filter syntax, I found I needed interpolation support so I tweaked my Vue.f

[2019-10-19 13:02] kemar commented on #9
@kwesterfeld The part `'Change User: %{user.usename}'` is still not being extracted when used in a `vue` file. Did you manage to get it working? Can you sumbit a PR with a working example?

[2019-10-28 09:51] WdgtSam commented on #51
@brunobg i'm desperate, please help me!
We got this issue :(

[2019-10-28 20:59] brunobg commented on #51
@WdgtSam never got a reply from @trainiac, so I don't know if his repo fork would still work if ported to the current version.

[2019-11-08 16:09] Donny5300 opened #102 "German symbols are not displaying correctly"
Hi,

Im using gettext for a project in 3 different languages. NL, EN and DE. For the DE store i need to translate words with the sign ß. The system doesnt display the sign but shows a question mark. How can i fix this?

Line of JSON: `"reset_popup_information": "Sie wechseln gerade zwischen Innen- und Außenbeleuchtung. Alle getroffenen Entscheidungen gehen verloren. Möchten Sie die Beleuchtungsart

[2019-11-08 18:02] kemar commented on #102
Hi, this looks like a CSS font-family issue.

I just tested the `Eszett` locally and it works:

![s](https://user-images.githubusercontent.com/281139/68499738-394ed000-025a-11ea-9e6c-4cf0b9530bb8.png)

[2019-11-10 11:45] Donny5300 commented on #102
Thank you for your response.

Changing the font-family in the code doesn't change anything. Can you show me your code or take a look at the domain i gave?

[2019-11-10 16:37] kemar commented on #102
The code is located in the repo: https://github.com/Polyconseil/vue-gettext/tree/master/dev ([doc](https://github.com/Polyconseil/vue-gettext/blob/master/README_DEV.md#dev-setup)). You can run it and change translations.

I looked at your domain.

It looks like the JavaScript file located here https://cdn.webshopapp.com/shops/271302/themes/156248/assets/vue-configurator.js is not UTF-8 encoded:

!

[2019-11-11 12:29] Donny5300 commented on #102
Do you have a idea how to fix this issue?

[2019-11-11 20:28] kemar commented on #102
Not really, sorry. I don't know how your JS build toolchain is constructed.

Maybe check that the shell in which you're running `make makemessages` and `make translations` is UTF-8 ready, e.g.:

[code]

I'm closing this issue since it's not related to the plugin itself.

[2019-11-11 20:28] #102 closed

[2019-11-26 10:40] PetrovskYYY commented on #76
There is another easy working way to do this: you can push this.$gettext object into a vuex store as a state variable and then use it there.

[2019-11-29 10:04] lfglopes opened #103 "issue running gettext-extract"
After a dependencies update, when i run

`gettext-extract --attribute v-translate --quiet --output /tmp/template.pot ./src/App.vue ./src/.....`

The following pops out:

`No configuration found`

I realised the dependent package [gettext-extract](https://github.com/sinedied/gettext-extract) requires now a `.gettext.json` configuration file

[2019-11-29 13:23] kemar commented on #103
There may be some misunderstanding. The [`gettext-extract`](https://github.com/Polyconseil/vue-gettext#how-does-vue-gettext-work-at-a-high-level) used in vue-gettext comes from [easygettext](https://github.com/Polyconseil/easygettext).

There is no dependency on the package you mention.

[2019-11-29 15:21] lfglopes commented on #103
you're right, nevermind. i guess at some point i didn't have `gettext-extract` available and pulled in the wrong dependency. thanks and apologies

[2019-11-29 15:21] #103 closed

[2019-12-04 16:07] wjdp commented on #75
Just come across this.

Seems if you have `<style scoped>` in your Vue SFC Vue will inject these data attributes on every HTML element.

e.g.
[code]
becomes
[code]

and translations no longer match.

@kevingobert Did you find a solution?

[2020-01-01 23:15] duduklein commented on #76
Any solution to this? how could we use gettext in a completely separate js file?

[2020-01-01 23:20] pantuchy commented on #76
I recommend to use [i18n](https://kazupon.github.io/vue-i18n/) for Vue projects. It also has [Nuxt Js module](https://nuxt-community.github.io/nuxt-i18n/)

[2020-01-02 07:07] duduklein commented on #76
Well, I'm actually switching from i18n. gettext is the standard way of handling translations in linux and has automatic extraction of string. I don't really understand why the vue community opted for a different approach.

Besides lacking the automatic extraction of string, i18n is more verbose, since we have to write message.key everywhere and it makes more difficult to non-programmers translator

[2020-01-02 08:40] duduklein opened #104 "Using vue-gettext with vuetify and other components"
I'm trying to use vue-gettext with vuetify. For a button, I used v-translate directive, as in
`<v-btn :value="false" v-translate>inactive</v-btn>`, which extracts correctly the string "inactive" for translation.

The issue I'm facing is the translation itself. After translating the .po and generating the json file, the string is not translated.

Actually if I switch to  `<v-btn :value="false"><tra

[2020-01-07 20:05] majesticcpan opened #105 "Unnecessary re-render when using expression"
Steps to reproduce: https://codepen.io/majesticcpan/pen/wvByzad

When using object literal notation in v-translate directive, like
`<span v-translate="{name: 'John'}">Hello %{name}</span>`
every re-render triggered by some reactive changes causes innerHTML re-rendering.
This creates a problem with text selection for example.

[2020-01-08 09:11] #105 closed

[2020-01-20 15:41] ppratibha opened #107 "How can vue-gettext be used in typescript ?"
I am trying to use vue-gettext in typescript component for a vue project.
I am using it like this

get myText() {
      return this.$gettext('myText');
 }

This was working perfectly fine for JS file. But As we are migrating to TS ,  I see that this text is not extracted as a translatable string and it does not end up in PO file of the project.  Can someone help me with this ?

[2020-02-03 19:08] brunobg commented on #51
To those looking for this, here's how I did it. This is not a pure server side solution, but it works well enough for my purposes. This solution is used in https://github.com/Corollarium/lajevr/.

1) Install vue-gettext as usual.

2) Create a `plugins/translation.js` file to load vue-gettext. The code at my repo tries to guess the best language as well, but here's the basics:

[code]

3) Load the

[2020-02-03 19:08] brunobg commented on #76
This might be helpful to people here: https://github.com/Polyconseil/vue-gettext/issues/51#issuecomment-581567628

[2020-02-05 06:37] adambullmer commented on #104
We ran into this one too. Looks like the way the slot works is incompatible with the way the directive gets the string to be translated. Vuetify doesn't transclude unknonw directives on the default slot, and this library grabs the innerHTML of the element the directive is placed upon, as it may be desirable to include simple nested html, like links, or formatting elements. If you inspect the butto

[2020-02-05 07:44] duduklein commented on #104
Thanks for your detailed explanation and suggestions.

I have actually worked around this issue with computed properties. Whenever
I find an issue with the package, I create a computed property.

Le mer. 5 févr. 2020 à 07:37, Adam Bullmer <notifications@github.com> a
écrit :

[2020-02-20 15:55] fjouatte opened #109 "v-translate breaks v-model on select"
It appears that using `v-model` on `select` inside `v-translate` block is causing troubles.

Simple case to reproduce the problem :

[code]

`this.selected` is always equal to the initial value

[2020-02-27 09:34] Shin-- commented on #107
@ppratibha Have you found a solution for this yet?

[2020-03-10 17:01] ivdekov commented on #75
I'm experiencing the same issue and wanted to check if there are any updates on this.

[2020-03-23 13:59] HenryLie opened #110 "Add $listeners to translate component"
Right now, to attach an event to the `translate` component, we need to use the `.native` modifier.

Probably it will be better if the component can pass `$listeners` to the root element instead, since the user can modify the root element with `tag` attribute? This will allow us to attach event listeners without having to remember to add the `.native` modifier.

I can try making a PR if this idea i

[2020-05-07 11:42] lastzero opened #111 "Wrong translations when <translate> is used with v-if"
We're using your plugin in our open-source project, see [demo.photoprism.org](https://demo.photoprism.org)

I noticed that `v-if` MAY cause wrong translations with `<translate>` like in our conditional navigation, so I changed `<translate>Private</translate>` to `<span v-translate>Private</span>` (otherwise it was translated as "Photos", not "Private"):

https://github.com/photoprism/photoprism/bl

[2020-05-09 08:20] SlvrEagle23 commented on #111
I'm experiencing this same issue in my Vue application code. For example, on forms that conditionally render different sections (i.e. [this one](https://github.com/AzuraCast/AzuraCast/blob/master/frontend/vue/station_playlists/form/PlaylistFormSource.vue#L28-L30)), I have repeatedly noticed that whatever text was translated first will show up even in completely unrelated conditional branches; even

[2020-05-09 08:40] lastzero commented on #111
We could try `v-show` as well. I'm curious if it's a bug that maybe can be fixed easily, so that these workarounds are not needed at all. 110% busy with our project, otherwise I would have a look.

If it can't be fixed, then we should know the performance impact of workarounds to minimize the impact.

[2020-05-21 15:58] marcel-dancak commented on #111
I think I have observed this issue some time ago as well, and setting a different `key` attribute in conditional `<translate>` definitions solved it.

[2020-05-22 11:30] rmelchner commented on #48
Maybe another approach is possible in this case. You could split the Text and add the router link in between.
`<span>
    {{splitedText[0]}}
        <router-link :to="`privacy`" target="_blank">linktext</router-link>
    {{splitedText[1]}}
</span>`
`computed: {
    splitedText() {
      this.myResult = customtext.split('%{termsLink}');
      return this.myResult;
    }
},
`

[2020-05-22 21:20] mitar commented on #48
But this is then hard to translate. Not all languages would split in the same way. So translator would have to translate three fragments (text before link, link text, and text after link) as one. Very confusing.

[2020-06-09 15:55] Rovniy opened #112 "Optional chaining support"
I have problem with extracting translates from *.vue files, wich use ES8 feature object-chaining.
As sample: `const a = object?.someKey?.someValue` provide to reject Make script with error: `Trace: SyntaxError: Unexpected token`. If i remove chaining, all scripts successfully done. How resolve this problem?

[2020-06-16 08:40] Rovniy commented on #112
Hey! May be somebody help us?

[2020-06-16 11:26] lastzero commented on #111
Found the solution in the docs after doing a bit of horizontal scrolling:

autoAddKeyAttributes | {Boolean} | optional | If true, key attributes are auto-generated if not present in your code. See the key documentation and issues #29 and #66. Default value is false. Enable this option only if you know what you're doing.
-- | -- | -- | --

[2020-06-16 11:26] #111 closed

[2020-07-08 07:43] kristofferdamborg commented on #112
Would love to see this supported. Really sucks not to be able to use optional chaining, just because vue-gettext doesn't support it 😄

[2020-07-08 07:58] kemar commented on #112
Please , feel free to submit a PR @kristofferdamborg 😄

[2020-07-11 10:38] evgeniyparanyuk-textmagic commented on #107
[https://i.imgur.com/dSN4CmR.png](url)

[2020-07-11 10:39] evgeniyparanyuk-textmagic opened #116 "Module 'vue-gettext/types' has no exported member 'translate'."
![dSN4CmR](https://user-images.githubusercontent.com/54141724/87222395-151d3300-c395-11ea-8d98-9a583f321a7a.png)

[2020-07-11 10:40] evgeniyparanyuk-textmagic commented on #116
I use typescript 3.9.5

[2020-07-13 15:25] StanleeLOD commented on #116
+1, the same issue. Seems like simple d.ts could fix it

[2020-09-15 13:25] codebykenny commented on #75
We are experiencing the same exact issue, the data-v variable with `scoped` styles changes the `msgid` and therefore the translation is not found.

A solution to this problem might be using regex, remove the randomly generated `v-data-*` variables

[2020-11-23 15:04] pieterjandesmedt commented on #28
Is anyone still looking at this? The repo doesn't seem to be maintained anymore? I tried all solutions int this thread (wrapping in (), adding a /, gettext-vue), but none of them seems to work. Is there a better solution than using vue-gettext right now?

[2020-11-24 16:27] kemar commented on #28
Sorry @pieterjandesmedt I don't have time anymore to contribute to vue-gettext. In fact I haven't worked with Vue.js in over three years. I'm barely merging PR and keeping deps up to date.

[2020-11-24 22:05] mitar commented on #28
@kemar Still thank you for doing that!

[2020-11-27 00:27] pieterjandesmedt commented on #28
@kemar thank you for your great work! I used (and still use) vue-gettext a lot. If you want, I can help you maintain it.

I made a workaround with two oneliners in the makefile:
[code]
This concatenates all javascript of the single file components into one file (named `vue-scripts.tmp.js`)

[code]
This extracts all `gettext(`-lookalikes from the `<template>`, so also those in the html attributes i

[2020-11-27 13:14] neSpecc opened #119 "Unable to use interpolation without Vue"
One of useful features of this library is [an ability](https://github.com/Polyconseil/vue-gettext#usage-of-translate-without-vue) to use it both for Vue and non-vue parts of application.

Unfortunately, there is no ability to use interpolation in there.

I think, it would be great to expose the `gettextInterpolate` method as well.

[2020-11-27 17:09] kemar commented on #28
@pieterjandesmedt thx :)

@vperron I'm not able to maintain vue-gettext anymore, what do you think about adding maintainers or transferring ownership?

[2020-11-27 17:12] vperron commented on #28
I'm 100% open to adding external maintainers, as many as possible actually. As long as you've successfully added a PR you should be able to get the maintaining rights. I'll look into it.

[2020-11-27 17:15] vperron commented on #28
@pieterjandesmedt @mitar @GUI @bart-1990 could you please summarize very quickly what's teh topic at hand, I'm not sure anymore what's the issue here :)
I'd recommend to use https://github.com/Polyconseil/easygettext which has been really well maintained and supports everything from Vue 3 templates to Typescript and so on, bu maybe I'm missing the point.

Also, if anyone is up for getting upgraded

[2020-12-13 22:22] fjeddy opened #122 "`translate-plural` not working with `<translate>`"
Hello,

It seems like `translate-plural` doesn't work in combination with `<translate>`, the following code snippet, from your documentation, does not seem to work.

`<translate :translate-n="count" translate-plural="%{ count } cars">%{ count } car</translate>` outputs `count cars`
while `<li v-translate="{ count: cars }" translate-plural="%{count} cars" :translate-n="cars">%{count} car</li>` work

[2020-12-15 16:32] Getz85 commented on #75
Same issue here, any news on this ?
Or a workaround ?

[2020-12-16 14:04] neSpecc commented on #119
Resolved

[2020-12-16 14:04] #119 closed

[2021-01-25 10:39] Knogobert commented on #112
This is possible thanks to https://github.com/Polyconseil/easygettext/pull/72, it enables you to use Babel as a parser instead of Acorn (which doesn't support optional chaining atm). Just make sure your babel parser correctly has the optional-chaining-plugin installed and then add the `--parser=babel` argument to the `gettext-extract` command that you probably are using.
Here's a part of an exampl

[2021-01-27 14:10] andreapicaro opened #124 "Change translations at run-time"
Hello,
i'm trying to override default translations file with Vue.$translations = myjson when user customizes a translation
but it doesn't change it.
Which is the good way to do that?

Thanks

[2021-03-14 21:55] nanu-c opened #126 "vue3 support"
Currently the plugin fails with vue3. Are there plans to add support for vue3?

[code]

[2021-03-14 21:58] nanu-c commented on #126
Looking into the code, i see it needs lots of effort.

[2021-03-16 09:45] kemar commented on #126
Hi @nanu-c Nope, there is no plan to support for Vue 3 (see https://github.com/Polyconseil/vue-gettext/pull/118)

[2021-03-16 09:45] #126 closed

[2021-03-17 16:11] nanu-c commented on #126
Hey kemar the `vue-native-websocket-vue3` is a drop in replacement for this module and it works without changing anything, so there is really no need to to it ;)

[2021-04-12 19:07] georgkrause opened #128 "Extraction fails with gettext 0.21"
While the extraction works fine with 0.19, I start getting problems with v0.21.

[code]

(Sorry for the german error message)

The file in question is available here: https://dev.funkwhale.audio/funkwhale/funkwhale/-/blob/develop/front/src/App.vue

[2021-05-27 14:18] spnm commented on #124
In version 2.1.8 or older it might works.

[2021-07-15 20:47] 7iomka commented on #128
Hi
You resolved your issue?
I read your docs https://dev.funkwhale.audio/funkwhale/funkwhale/-/blob/develop/CONTRIBUTING.rst
I have error: `scripts/i18n-extract.sh: line 15: xgettext: command not found
error Command failed with exit code 127.`

![image](https://user-images.githubusercontent.com/18473137/125855249-a2b10116-08f2-4d90-beee-8b3dbc3efc0c.png)

Is the same error?

[2021-07-16 09:03] georgkrause commented on #128
Hello!

I did not solved it, I simply work around it by using `gettext` version 0.19.

Anyway, the errors are not the same. The one I reported is like `Failed to open File "/app.pot" for reading: File or directory not found`

[2021-07-25 02:59] 7iomka opened #131 "How to translate available languages list?"
Hi.
Docs say:
[code]

My language list is
[code]
I need translation for each of this language to it own language version.
For example, for Simplified Chinese
[code]

How to do that?

What I tried:
[code]

This only produces
[code]

Also I'm tried all variants from https://github.com/Polyconseil/vue-gettext#caveat-when-using-either-the-component-translate-or-directive-v-translate-with-interpolation

[2021-08-12 16:51] 7iomka commented on #77
No news on this? :(((

[2021-09-24 13:53] Knogobert commented on #128
Oh my colleague and I have been sitting way too much on trying to fix this.

---

**I finally solved it by downgrading to gettext 0.20.2**

Steps I took (on macOS Big Sur):
- `brew install nedap/versions/gettext@0.20.2` (big thanks @nedap!). Make sure you have the latest xcode-select installed for this to be able to be compiled

If you run into brew linking issues like me, run:
- `brew link --over

[2022-03-28 15:54] AnthonyUnlatch commented on #122
hello, same here,

with .po file with

`msgid "apple"
msgid_plural "apples"
msgstr[0] "%{count} apple"
msgstr[1] "%{count} apples"`

does not work with
`<translate :translate-n="5" translate-plural="apples" :translate-params="{count: 5}">apple</translate>`

works with i18next replacing %{count} with {{count}}

any idea ?

[2022-10-25 13:28] kristofferdamborg opened #142 "Is it possible to compile a JSON translation file per available language?"
I would like to be able to render a JSON translation file for each available language in my application, instead of one large file that contains all languages. Is this possible? It would greatly reduce bundle size.